@model Bangazon.Models.HomeIndexViewModel.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome to Bangazon</h1>
    <h3>Like Amazon, but better</h3>
</div>
<div>
    <h4>Latest Products: </h4>
    <ol>
        @foreach (var prod in Model.AllProducts)
        {
        <li><a asp-controller="Product" asp-action="Detail" asp-route-id="@prod.ProductId">@prod.Title</a> - @prod.Description</li>
        }
    </ol>
    
</div>
